.env
__pycache__
*.pyc
.env.main
.env.chitchat
.venv/
keys/
gcp/*.json
data/
chitchat/
youtubeconverter/downloads/
youtubeconverter/transcripts/

data/messages.sqlite
logs/
.logs/
read/_runtime/
read/messages.sqlite

tests_runtime*/

